<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_Page</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="Body">
        <div class="History">
            <div class="items"><h3 id="HistoryHeading">HISTORY</h3></div>
            <div class="items">
                <h4 class="heading">heading</h4>
                <p class="hystory-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, sequi.</p>
            </div>
            <div class="items">
                <h4 class="heading">heading</h4>
                <p class="hystory-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, sequi.</p>
            </div>
            <div class="items">
                <h4 class="heading">heading</h4>
                <p class="hystory-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, sequi.</p>
            </div>
            <div class="items">
                <h4 class="heading">heading</h4>
                <p class="hystory-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, sequi.</p>
            </div>
            <div class="items">
                <h4 class="heading">heading</h4>
                <p class="hystory-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, sequi.</p>
            </div>
            <div class="items">
                <h4 class="heading">heading</h4>
                <p class="hystory-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, sequi.</p>
            </div>
            <div class="items">
                <h4 class="heading">heading</h4>
                <p class="hystory-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, sequi.</p>
            </div>
        </div>
        <div class="SearchBox">
            <div class="ContentBox">
                <div class="FullContent">
                    <h1 class="HeadMainContent">
                        This is where the content starts,
                    </h1>
                    <p>We can add the styles later...</p>
                    <p>🤩😎</p>
                </div>
                <button class="ProfileButton"><i class="fa-solid fa-user"></i></button>
            </div>
            <div class="BarColumn">
                <input class="SearchBar" placeholder="Search..." type="search">
                <button class="SearchButton"><img class="SearchBar-img" src="Images/search.svg" alt="search"></button>
                <button class="voice-search"><img class="voice-search-img" src="Images/voice-search-icon.svg" alt="voice-search"></button>
            </div>
        </div>
    </div>
    
</body>
</html>