.Body{
    display: flex;
    flex-direction: row;
    height: 100%;
}
body, html{
    height: 100%;
    margin: 0;
}
.History{
    background-color: aqua;
    width:250px;
    display:flex;
    flex-direction: column;
    background-color: purple;
    align-items:center;
    justify-content: space-around;
    border-right: 1px solid black;
}
.items{
    background-color: antiquewhite;
    width:90%;
    height:100%;
    margin: 5px 0 5px 0;
    justify-content: center;
    align-items: center;
}
.hystory-content{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#HistoryHeading{
    font-size: 20px;
    text-align: center;
}
.heading{
    margin:0;
}
.SearchBox{
    background-color: rgb(127, 255, 165);
    width:100%;
    display: flex;
    flex-direction: column;
}
.ContentBox{
    height: 100%;
    width:100%;
}
p{
    margin-top:0;
    margin-bottom:0;
}
.FullContent{
    display: inline-block;
    padding-left:60px;
}
.HeadMainContent{
    margin: 0 0 25px 0;
    padding-top:20px;
}

.ProfileButton{
    background-color: white;
    width:40px;
    height:40px;
    border-radius:15px;
    border: 2px solid rgb(131, 131, 131);
    border-radius:13px;
    border-style:solid;
    border-color:black;
    position:absolute;
    top:20px;
    right:10px;
}
.ProfileButton:active{
    border:none;
    /* can add the new showing profile here maybe... */
}
.BarColumn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: pink;
    height:120px;
    border-top: 1px solid black;
}
.SearchBar{
    width:100%;
    /* margin:0 100px 0 100px; */
    height:45px;
    min-width: 5rem;
    max-width: 40rem;
    border-top-left-radius: 22.5px;
    border-bottom-left-radius: 22.5px;
    border:1px solid black;
    padding:0 17px 0 17px;
    font-size: 20px;
    outline: none;
}
.SearchButton{
    height: 45px;
    width: 70px;
    margin-left: -1px;
    border: 1px solid black;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    background-color: #fff;
}
.SearchButton:hover{
    cursor: pointer;
    .SearchBar-img{
        width: 42px;
    }
}
.SearchButton:active{
    .SearchBar-img{
    width: 38px;   
    }
}
.SearchBar-img{
    width: 40px;
    transform:translateX(-3px);
    background-color: white;
}
.voice-search{
    height: 45px;
    width: 45px;
    border: 1px solid rgb(66, 66, 66);
    border-radius: 22.5px;
    margin-left: 10px;
}