.popup-container {

    position: fixed;
    top: 0;
    right: 0;
    padding: 40px 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.x {
    position: absolute;
    right: 5px;
    top: 5px;
}

.popup-container h2 {
    margin-bottom: 10px;
}

.popup-container p {
    margin: 10px 0;
}

.popup-container button {
    transform: translateX(50%);
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
}

.popup-container button:last-child {
    margin-right: 0;
}

.popup-container button:hover {
    background-color: #613db6;
}

.accountCover {
    background: transparent;
    position: fixed;
    inset: 0;
    z-index: 1000;
}