.Body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
body, html{
    height: 100%;
    margin: 0;
}
p{
    margin-top:0;
    margin-bottom:0;
}
h1,h3{
    margin:20px 0;
}
.History{
    background-color: rgb(233, 233, 233);
    width:250px;
    overflow-y: auto;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    border-right: 1px solid rgb(200, 200, 200);
}
.items{
    background-color:white;
    width:90%;
    height:100%;
    margin: 5px 0 5px 0;
    padding-left: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.history-content{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#HistoryHeading{
    font-size: 20px;
    text-align: center;
}
.heading{
    margin:10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Main-body{
    width:100vw;
    display: flex;
    flex-direction: column;
    /* grid-template-rows: max-content 1fr max-content; */
}
.ProfileButton{
    background-color: white;
    width:40px;
    height:40px;
    border-radius:15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius:13px;
    position: absolute;
    top:20px;
    right:10px;
    z-index: 10;
}
.ProfileButton:active{
    border:none;
    /* can add the new showing profile here maybe... */
}
.Header{
    background-color: #512da8;
    background: linear-gradient(to top, #8755fc, #321576);
    color: #fff;
    height: 90px;
    width: 100%;
    /* max-width:100vw; */
    padding-left: 20px;
}
.Middle{
    height: 100%;
    width: 100%;
    background-image: url(/src/components/Images/scale-34770.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    
}
.body-logo{
    height: 100px;
}
.scroll-body{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    overflow:auto;
    background-color: transparent;
}
.content-box{
    width: 70%;
<<<<<<< HEAD
    height: max-content;
=======
    height:max-content;
>>>>>>> 5f68b64677b26d12061f1096e76765a336afdfb2
    background-color: #c9d6ff;
    background: linear-gradient(to right, #dae2fd, #d1dcff);
}
.Footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #512da8;
    background: linear-gradient(to bottom, #8b5ef4, #321576);
    height:100px;
    border-top: 1px solid black;
}
.SearchBar{
    width:100%;
    height:45px;
    min-width: 5rem;
    max-width: 40rem;
    border-top-left-radius: 22.5px;
    border-bottom-left-radius: 22.5px;
    border:2px solid black;
    padding:0 17px 0 17px;
    font-size: 20px;
    outline: none;
    background-color: white;
}
.SearchButton{
    height: 45px;
    width: 70px;
    margin-left: -2px;
    border: 2px solid black;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    background-color: #fff;
}

.voice-search{
    height: 45px;
    width: 45px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #fff;
    border-radius: 22.5px;
    margin-left: 10px;
}
.search-history-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
  }